<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome, <%= user.name %></h3>
    <p>Your registered email is: <%= user.email %></p>
    <p>DOB : <%= user.dob%></p>
    <p>City : <%= user.city %></p>
    <p>Degrees:</p>
   <% user.degrees.forEach(d=>{ %>
        <%= d.name%><br>
  <%  }) %>
  <p>Profile Picture :
    <% user.image.forEach(img=>{ %>
    <img src="/uploads/<%=img%>" width="150" height="150"></p>

   <% })%>
    <a href="/logout">Logout</a>
</body>
</html>